@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&family=Kaushan+Script&family=Playfair+Display:ital,wght@1,400;1,500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fade {
    0% { opacity: 0.9; }
    100% { opacity: 1; }
  }

.fade { animation: fade 2s linear; }

.carousel-prev, .carousel-next {
@apply w-12 h-12 flex items-center justify-center absolute top-0 bottom-0 shadow-md m-auto bg-white rounded-full;
}
.carousel-next {
    @apply right-[10px]
}